.inline {
    display: inline;
}

#header {
    display: flex;
    justify-content: space-around;
}
#notes{
    margin-top:10px !important ;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 200px;
    overflow: auto;
}

#display {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 200px;
    overflow: auto;
    margin-top: 10px !important;
}

.main {
    display: flex;
    justify-content: space-around;
}


#id {
    display: none;
}

#new 
{
    display: none;
}

.m20 {
    margin-top: 30px !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

tr {
    display: flex;
}

th, td {
    flex: 1;
}